html {
    height: 100%;
}

.grid-col-1of5 {
    background-color: #21252B;
    color: #CCCCCC;
    width: 100%;
    height: 95vh;
    padding-top: 2em;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-col-4of5 {
    width: 100%;
    height: 95vh;
}

#top-nav {
    width: 100%;
    height: 5vh;
    background-color: #21252B;
}

#file-content {
    outline: none;
    width: 100%;
    height: 90vh;
    /* color: #ABB2BF; */
    /* background-color: #282C34; */
    font-size: 1rem;
}

.ace_content {
    /* padding-top: 0.5em; */
}

.ace_gutter-layer {
    /* color: #ABB2BF; */
    /* background-color: #282C34; */
    height: 90vh;
    padding-right: 1em;
    font-size: 1rem;
}

.ace_gutter-cell {
    /* padding-top: 0.5em; */
    height: auto;
}

.ace_text-input {
    /* margin-top: 20%; */
}

.hover {
    background-color: #2C313A;
}

footer {
    height: 5vh;
    background-color: #21252B;
    color: #ABB2BF;
    font-family: sans-serif;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline;
}

#cursor-pos {
    padding-top: 0.5em;
    padding-right: 1em;
    float: right;
}

#file-format {
    padding-top: 0.5em;
    padding-right: 1em;
    float: right;
}