html {
    height: 100%;
}

.grid-col-1of5 {
    background-color: #21252B;
    color: white;
    width: 100%;
    height: 90vh;
}

#side-nav ul {
    padding-top:2em;
    padding-left: 1em;
    list-style: none;
}

.grid-col-4of5 {
    background-color: #282C34;
    font-size: 1rem;
    line-height: 1.5rem;
    vertical-align: middle;
    width: 100%;
    height: 90vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-nav-heading {
    height: 5vh;
    font-size: 0.6rem;
    padding-left:1em;
    padding-right:1em;
    padding-top:0.5em;
    font-weight:100;
}

.top-nav-ul {
    height: 5vh;
}

.etabs-tab {
    color: white;
    background-color: #21252B;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.etabs-tab-button-close {
    visibility: hidden;
    margin-left: 0.5em;
}

.etabs-tab:hover .etabs-tab-button-close {
    visibility: visible;
}

#file-content {
    outline: none;
    width: 100%;
    height: 90vh;
    color: #ABB2BF;
    background-color: #282C34;
    font-size: 1rem;
}

.ace_content {
    padding-top: 0.5em;
}

.ace_gutter-layer {
    color: #ABB2BF;
    background-color: #282C34;
    height: 90vh;
    padding-right: 1em;
    font-size: 1rem;
}

.ace_gutter-cell {
    padding-top: 0.5em;
    height: auto;
}

.ace_text-input {
    margin-top: 20%;
}

footer {
    height: 5vh;
    background-color: #21252B;
    color: #ABB2BF;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline;
}